body {
  background-color: #f4f4f4;
  color: #1a1c20;
  position: relative;
  min-height: 100vh;
  padding-bottom: 254px; }
  @media only screen and (min-width: 280px) {
    body {
      padding-bottom: 388px; } }
  @media only screen and (min-width: 576px) {
    body {
      padding-bottom: 364px; } }
  @media only screen and (min-width: 767px) {
    body {
      padding-bottom: 284px; } }
.navcolour {
  background-color: #1a1c20;
  font-weight: 600;
  margin-bottom: 15px; }
  .navcolour nav {
    background-color: #1a1c20 !important; }
    .navcolour nav .hide-admin {
      display: none; }
    .navcolour nav a {
      color: #cf7500 !important; }
    .navcolour nav a:hover {
      color: #f0a500 !important; }
    .navcolour nav ul {
      float: right; }
    .navcolour nav .btn {
      color: #cf7500;
      border-color: #cf7500; }
    .navcolour nav .btn:hover {
      color: #1a1c20;
      border-color: #f0a500;
      background-color: #f0a500; }
    .navcolour nav .btn:active {
      color: #1a1c20 !important;
      border-color: #f0a500 !important;
      background-color: #f0a500 !important; }
    .navcolour nav .btn:focus {
      color: #1a1c20 !important;
      border-color: #f0a500 !important;
      background-color: #f0a500 !important; }
    .navcolour nav .radius {
      border-radius: 3px !important; }
    @media only screen and (max-width: 991px) {
      .navcolour nav .hide {
        display: none;
        padding: 0;
        margin: 0; } }
    @media only screen and (min-width: 991px) {
      .navcolour nav .mobsearch {
        display: none;
        padding: 0;
        margin: 0; } }
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #1a1c20;
  border-radius: 4px 4px 0 0;
  color: #f4f4f4;
  margin-top: 15px; }
  footer a {
    color: #cf7500; }
  footer a:hover, footer a:active {
    color: #f0a500; }
  footer .hide {
    display: none; }
  footer .row {
    margin: 0px;
    padding: 5px 15px; }
  footer .copyright {
    text-align: center; }
  footer h5 {
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 0; }
  footer iframe {
    width: 50%;
    height: auto;
    margin: 10px 0;
    padding: 0 15px; }
  @media only screen and (max-width: 756px) {
    footer iframe {
      display: none; }
    footer .remove {
      display: none !important; } }
.row {
  margin-left: 0px;
  margin-right: 0px;
  justify-content: center; }
  .row .card-deck {
    margin-left: 0px;
    margin-right: 0px;
    justify-content: space-between; }
    .row .card-deck a {
      color: inherit;
      text-decoration: none; }
    .row .card-deck .card {
      margin-left: 15px;
      margin-right: 15px;
      min-width: 270px;
      max-width: 270px; }
      @media only screen and (max-width: 767px) {
        .row .card-deck .card {
          margin-left: 0px;
          margin-right: 0px; } }
      .row .card-deck .card .btn-primary {
        background-color: #cf7500;
        border-color: #cf7500;
        text-align: right;
        float: right;
        color: #1a1c20;
        font-weight: 500; }
      .row .card-deck .card .btn-primary:hover {
        background-color: #f0a500 !important;
        border-color: #f0a500 !important; }

.login {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px; }
  .login .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto; }
  .login .form-signin .checkbox {
    font-weight: 400; }
  .login .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px; }
  .login .form-signin .form-control:focus {
    z-index: 2; }
  .login .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .login .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  .login .btn-primary {
    background-color: #cf7500;
    border-color: #cf7500;
    text-align: center;
    float: right;
    color: #1a1c20;
    font-weight: 500; }
  .login .btn-primary:hover {
    background-color: #f0a500 !important;
    border-color: #f0a500 !important; }

.row {
  margin-bottom: 15px; }
  .row .hide {
    display: none; }
  .row .project {
    min-width: 100%;
    display: flex; }
    .row .project .btn-dark {
      background-color: #1a1c20;
      border-color: #1a1c20;
      color: #f4f4f4; }
    .row .project .btn-dark:hover {
      background-color: #f0a500 !important;
      border-color: #f0a500 !important; }
    .row .project .box {
      /* box-sizing: border-box; */
      border: 2px solid #1a1c20;
      width: 100%;
      height: 38px;
      margin: 0px;
      padding: .375rem .75rem;
      flex-grow: 1;
      border-radius: .25rem; }
      @media only screen and (max-width: 280px) {
        .row .project .box {
          font-size: small; } }
.contact {
  margin-bottom: 28px; }
  .contact .btn-submit {
    float: right;
    border-color: #cf7500;
    background-color: #cf7500;
    color: #f4f4f4; }
  .contact .btn-submit:hover {
    border-color: #f0a500;
    background-color: #f0a500; }
  .contact .btn-submit:active {
    border-color: #f0a500 !important;
    background-color: #f0a500 !important; }
  .contact .btn-submit:focus {
    border-color: #f0a500 !important;
    background-color: #f0a500 !important; }
  .contact .alert {
    margin-top: 52px;
    margin-bottom: 0px; }

form .btn-primary {
  float: right;
  border-color: #cf7500;
  background-color: #cf7500;
  color: #f4f4f4;
  margin-top: 1rem; }

form .btn-primary:hover {
  border-color: #f0a500;
  background-color: #f0a500; }

form .btn-primary:active {
  border-color: #f0a500 !important;
  background-color: #f0a500 !important; }

form .btn-primary:focus {
  border-color: #f0a500 !important;
  background-color: #f0a500 !important; }
