$black: #1a1c20;
$dark-orange: #cf7500;
$bright-orange: #f0a500;
$off-white: #f4f4f4;

body{
  background-color: $off-white;
  color: $black;
  position: relative;
  min-height: 100vh;
  padding-bottom: 190px;
  // padding-bottom: 254px;
  // @media only screen and (min-width: 280px) {
  //   padding-bottom: 475px;
  // }
  // @media only screen and (min-width: 576px) {
  //   padding-bottom: 364px;
  // }
  // @media only screen and (min-width: 768px) {
  //   padding-bottom: 284px;
  // }
}
.navcolour{
  background-color: $black;
  font-weight: 600;
  margin-bottom: 15px;
  nav{
    background-color: $black !important;
    .hide-admin{
      display: none;
    }
    a{
      color: $dark-orange !important;
    }
    a:hover{
      color: $bright-orange !important;
    }
    ul{
      float: right;
    }
    .btn{
      color: $dark-orange;
      border-color: $dark-orange;
    }
    .btn:hover{
      color: $black;
      border-color: $bright-orange;
      background-color: $bright-orange;
    }
    .btn:active{
      color: $black !important;
      border-color: $bright-orange !important;
      background-color: $bright-orange !important;
    }
    .btn:focus{
      color: $black !important;
      border-color: $bright-orange !important;
      background-color: $bright-orange !important;
    }
    .radius{
      border-radius: 3px !important;
    }
    @media only screen and (max-width: 991px){
      .hide{
        display: none;
        padding: 0;
        margin: 0;
      }
    }
    @media only screen and (min-width: 991px){
      .mobsearch{
        display: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}

footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  background: $black;
  border-radius: 4px 4px 0 0;
  color: $off-white;
  margin-top: 15px;
  a{
    color: $dark-orange;
  }
  a:hover, a:active{
    color: $bright-orange;
  }
  .hide{
    display: none;
  }
  .row{
    margin: 0px;
    padding: 5px 15px;
  }
  .copyright{
  text-align: center;
  }
  h5{
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 0;
  }
  iframe{
    width: 50%;
    height: auto;
    margin: 10px 0;
    padding: 0 15px;
  }
  @media only screen and (max-width: 756px) {
    iframe{
      display: none;
    }
    .remove{
      display: none !important;
    }
  }
}

.container{
  padding-bottom: inherit;
  overflow: hidden;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
  justify-content: center;
  .card-deck{
    margin-left: 0px;
    margin-right: 0px;
    justify-content: space-between;
    a{
      color: inherit;
      text-decoration: none;
    }
    .card{
      margin-left: 15px;
      margin-right: 15px;
      min-width: 270px;
      max-width: 270px;
      @media only screen and (max-width: 767px) {
        margin-left: 0px;
        margin-right: 0px;
      }
      .btn-primary{
        background-color: $dark-orange;
        border-color: $dark-orange;
        text-align: right;
        float: right;
        color: $black;
        font-weight: 500;
      }
      .btn-primary:hover{
        background-color: $bright-orange !important;
        border-color: $bright-orange !important;
      }
    }
  }
}

.login{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }.btn-primary{
    background-color: $dark-orange;
    border-color: $dark-orange;
    text-align: center;
    float: right;
    color: $black;
    font-weight: 500;
  }
  .btn-primary:hover{
    background-color: $bright-orange !important;
    border-color: $bright-orange !important;
  }
}

.row{
  margin-bottom: 15px;
  .hide{
    display: none;
  }
  .project{
    min-width: 100%;
    display: flex;
    .btn-dark{
      background-color: $black;
      border-color: $black;
      color: $off-white;
    }
    .btn-dark:hover{
      background-color: $bright-orange !important;
      border-color: $bright-orange !important;
    }
    .box{
      /* box-sizing: border-box; */
      border: 2px solid $black;
      width:100%;
      height: 38px;
      margin: 0px;
      padding: .375rem .75rem;
      flex-grow: 1;
      border-radius: .25rem;
      @media only screen and (max-width: 280px) {
        font-size: small;
      }
    }
  }
}

.contact{
  margin-bottom: 28px;
  .btn-submit{
    float: right;
    border-color: $dark-orange;
    background-color: $dark-orange;
    color: $off-white;
  }
  .btn-submit:hover{
    border-color: $bright-orange;
    background-color: $bright-orange;
  }
  .btn-submit:active{
    border-color: $bright-orange !important;
    background-color: $bright-orange !important;
  }
  .btn-submit:focus{
    border-color: $bright-orange !important;
    background-color: $bright-orange !important;
  }
  .alert{
    margin-top: 52px;
    margin-bottom: 0px
  }
}

  form{
    .btn-primary{
        float: right;
        border-color: $dark-orange;
        background-color: $dark-orange;
        color: $off-white;
        margin-top: 1rem;
      }
      .btn-primary:hover{
        border-color: $bright-orange;
        background-color: $bright-orange;
      }
      .btn-primary:active{
        border-color: $bright-orange !important;
        background-color: $bright-orange !important;
      }
      .btn-primary:focus{
        border-color: $bright-orange !important;
        background-color: $bright-orange !important;
      }
      .alert{
        margin-top: 4rem;
      }
    }

    .container{
      .add-products{
        @media only screen and (max-width: 767px) {
          padding-bottom: 45px;
        }
      }
    }

  .product-page{
    display: flex;
    @media only screen and (max-width: 500px){
      flex-wrap: wrap;
    }
    .image{
      padding: 0 1rem;
      max-width: 100%;
    //  height: 100%;
      @media only screen and (max-width: 500px){
        padding: 10px 1rem;
      }
      @media only screen and (min-width: 500px){
        width: 20rem;
        //height: auto;
      }
      @media only screen and (min-width: 991px){
        width: 300px;
        height: auto;
      }
    }
    .right-align{
      text-align: left;
      .price{
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: 400;
        color: $bright-orange;
      }
      form{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        //justify-content: space-evenly;
        @media only screen and (max-width: 991px){
          margin-top: 1rem;
        }
        .text{
          font-size: 1.2rem;
        }
        .quanity{
          margin-left: .5rem;
          padding: .375rem .75rem;
          font-size: 1rem;
          line-height: 1.5;
          border-radius: .25rem;
          border-color: none;
          @media only screen and (max-width: 299px){
            margin-left: 0rem;
            margin-top: 1rem;
          }
          .quanity:active{
            border-color: $bright-orange;
          }
          .quanity:hover{
            border-color: $bright-orange;
          }
          .quanity:focus{
            border-color: $bright-orange;
          }
        }
      .btn-primary{
          float: right;
          border-color: $dark-orange;
          background-color: $dark-orange;
          color: $off-white;
          margin-top: 1rem;
          margin-bottom: 1rem;
          @media only screen and (min-width: 407px){
            margin-left: .5rem;
          }
          @media only screen and (min-width: 501px){
            margin-left: 0rem;
          }
          @media only screen and (min-width: 768px){
            margin-left: .5rem;
          }
        }
        .btn-primary:hover{
          border-color: $bright-orange;
          background-color: $bright-orange;
        }
        .btn-primary:active{
          border-color: $bright-orange !important;
          background-color: $bright-orange !important;
        }
        .btn-primary:focus{
          border-color: $bright-orange !important;
          background-color: $bright-orange !important;
        }
      }
    }
  }

  .basket{
    width: 100%;
  //  padding: 0.5rem;
    border: 1px solid $black;
    border-radius: .25rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
    img{
      border-radius: .25rem;
      max-width: 150px;
      max-height: 150px;
    }
    .brand{
      margin-left: 1rem;
      margin-top: 1rem;
      flex-direction: column;
      // align-self: center;
    }
    .price{
      margin-right: 1rem;
      margin-top: 1rem;
      margin-left: auto;
      text-align: right;
      flex-direction: column;
      display: flex;
      }
      .button{
        flex-direction: row;
        margin-top: auto;
        .btn-danger{
          padding: .300rem;
          align-self: flex-end;
          margin-top: auto;
          margin-bottom: 1rem;
        }
        .btn-success{
          padding: .300rem;
          align-self: flex-end;
          margin-top: auto;
          margin-bottom: 1rem;
      }
    }
  }

  .total{
    display: flex;
    float: right;
    padding-right: 1rem;
    padding-top: 1rem;
    flex-direction: column;
    text-align: right;
    .checkoutbutton{
      width: 230px;
      height: 35px;
      margin-bottom: .5rem;
      .btn-primary{
        background-color: $dark-orange;
        border-color: $dark-orange;
        text-align: center;
        float: right;
        color: $black;
        font-weight: 500;
        margin-left: .5rem;
      }
      .btn-primary:hover{
        background-color: $bright-orange !important;
        border-color: $bright-orange !important;
      }
      .btn-danger{
        width: 230px;
        height: 35px;
      }
    }
  }

  .basketAlert{
    display: inline-flex;
    margin-top: .5rem;
  }

  .thankyou{
    max-width: 600px;
    h2{
      text-align: center;
      margin-bottom: 1.5rem;
    }
    p{
      margin-bottom: .5rem;
      span{
        font-weight: bold;
        color: $dark-orange;
      }
    }
  }

  .container{
    .ordersearch{
      .btn{
        color: $off-white;
        border-color: $dark-orange;
        background: $dark-orange;
      }
      .btn:hover{
        color: $black;
        border-color: $bright-orange;
        background-color: $bright-orange;
      }
      .btn:active{
        color: $black !important;
        border-color: $bright-orange !important;
        background-color: $bright-orange !important;
      }
      .btn:focus{
        color: $black !important;
        border-color: $bright-orange !important;
        background-color: $bright-orange !important;
      }
    }
    .searchterm{
      display: flex;
      min-width: 100%;
      justify-content: flex-end;
      margin-top: 1rem;
      margin-bottom: 1rem;
      p{
        flex: auto;
      }
    }
  }

  .index{
    .header{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .VapeStation{
        color: $bright-orange;
      }
    }
    hr{
      width: 75%;
      background-color: $bright-orange;
    }
    h5{
        color: $bright-orange;
    }
  }
